.slack_chat {
  color: white;
  position: absolute;
  top: 20px;
  transform: scaleY(-1);
}

.bean-readout {
    transform: scaleY(-1);
    color: #FFFFFF;
    padding-left: 16px;
    padding-bottom: 4px;
}

.gifz {
  transform: scaleY(-1);
}

.message {
  padding: 3px 0;
}

.map-container {
  transform: scaleY(-1);
}

html, body {
  height: 100%;
  background: black;
}

.from img {
  height: 25px;
  width: 25px;
}

#messages {
  font-size: 25px;

  margin-right: 25px;
  margin-top: 25px;

  // -webkit-transform:rotate(-90deg);
  // -moz-transform:rotate(-90deg);
  // -o-transform:rotate(-90deg);
  // transform:rotate(-90deg);
  // ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  // filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

  // direction: rtl;
  // unicode-bidi: bidi-override;
}
